.skill {
  padding: 0 0 50px 0;
  position: relative;
  margin-top: 100px;
}
.skill-bx {
  background: var(--eerie-black-2);
  /* background: linear-gradient(to bottom, #2193b0, #6dd5ed, #bce6eb, #ffc3a0, #ffafbd);; */
  border: 1px solid var(--jet);
  border-radius: 20px;
  text-align: center;
  padding: 87px 17px;
  margin-top: -60px;
  box-shadow: var(--shadow-1);
}
.skill h2 {
  font-size: 45px;
  font-weight: 700;
  color: var(--white-2);
  text-transform: capitalize;
}
.skill h5 {
  color: var(--light-gray);
}
/* icons section started */

/* .skill-Icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem; /* add a negative margin 
}
.skill-Icon img {
  width: 5rem;
  height: 5rem;
  transition: all 0.3s ease-in-out;
  margin-bottom: -3rem;
}
.skill-Icon > :nth-child(5){
  width: 100px;
  height: 126px;
margin-top: 21px;
}
.skill-Icon img:hover {
  transform: scale(1.1);
} */
.skill p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: var(--light-gray);
  font-size: var(--fs-2);
  line-height: 1.6;
  margin: 14px 0 17px 0;
  width: 100%;
}
.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.skill-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}
.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}
@media screen and (max-width: 480px) {
  .skill {
    margin-top: 5rem;
    width: auto;
  }
  .skill-bx {
    height: 37rem;
  }
  .skill p {
    text-align: justify;
    letter-spacing: 0;
    margin: 0;
  }
  .skill h2 {
    margin-top: -2rem;
  }
  .skill-slider {
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 47.9em) and (min-width: 23.4375em) and (orientation: landscape) {
 
  .skill p {

    width: auto;
    text-align: justify;
    text-justify: inter-word;
  }

}
@media only screen and (min-width: 481px) and (max-width: 768px) {

  .skill p {

    width: auto;
    text-align: justify;
    text-justify: inter-word;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .skill p {

    width: auto;
    text-align: justify;
    text-justify: inter-word;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {

  .skill p {

    width: auto;
    text-align: justify;
    text-justify: inter-word;
  }
}
@media only screen and (min-width: 1201px) {
  .skill p {

    width: auto;
    font-size: 25px;
  }
}

