.intro {
  display: flex;
  height: 110vh;
  margin-top: 6rem;
  background: var(--eerie-black-2);
  border-radius: 20px;
  border: 1px solid var(--jet);
  padding: 25px;
  box-shadow: var(--shadow-1);
}
.i-left {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
}
.i-name {
  display: flex;
  flex-direction: column;
}
.i-name > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 3rem;
}

.i-name > :nth-child(2) {
  color: var(--orange);
  font-weight: bold;
  font-size: 3rem;
}
.i-name > :nth-child(3) {
  font-weight: 100;
  font-size: 19px;
  color: var(--light-gray);
  margin-top: 10px;
  line-height: 1.6;
}
.i-button {
  width: 6rem;
  height: 2rem;
}

.icon-box {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  font-size: 18px;
}
.i-right {
  flex: 1;
  position: relative;
}
.i-right > * {
  position: absolute;
  z-index: 1;
}
#myCanvasContainer {
  margin-left: -3rem;
  margin-top: -2.1rem;
}

.sv-button {
  position: relative;
  width: 11%;
  height: 2rem;
  background: var(--border-gradient-onyx);
  color: var(--orange-yellow-crayola);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 18px;
  border-radius: 14px;
  font-size: var(--fs-6);
  text-transform: capitalize;
  box-shadow: var(--shadow-3);
  z-index: 1;
  transition: var(--transition-1);
  margin-left: 257px;
  margin-top: -4rem;
}
.button::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--bg-gradient-jet);
  border-radius: inherit;
  z-index: -1;
  transition: var(--transition-1);
}

.headings-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* adjust as needed */
  border-bottom: 1px solid #ccc; /* optional */
}
.headings-container h1 {
  font-size: 48px;
  font-weight: bold;
  color: #333;
  margin: 0;
  opacity: 0.8;
  transition: opacity 0.5s ease-in-out;
}
.headings-container h1:hover {
  opacity: 1;
}
.headings-container h1::before {
  content: "<";
  font-size: 56px;
  margin-right: 16px;
}
.headings-container h1::after {
  content: ">";
  font-size: 56px;
  margin-left: 16px;
}
.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #edd0ff;
  filter: blur(72px);
  z-index: -9;
  top: -18%;
  left: 56%;
}

.button:hover {
  background-color: #333;
  color: #fff;
}

.si-button {
  width: 12.1rem;
  height: 2rem;
}

/* social media icons */

.sidebar {
  background: var(--eerie-black-2);
  border-radius: 20px;
  box-shadow: var(--shadow-1);
  z-index: 1;
  height: 3.7rem;
  width: 16rem; /* reduce the width of the sidebar as an example */
  padding-left: 0;
  padding-right: 0;
  margin-top: -40px;
}

.icon-box {
  position: relative;
  background: var(--border-gradient-onyx);
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--orange-yellow-crayola);
  box-shadow: var(--shadow-1);
  z-index: 1;
}
.social-icon-s {
  color: var(--orange-yellow-crayola);
}
.contacts-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.icon-box::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--eerie-black-1);
  border-radius: inherit;
  z-index: -1;
}

.icon-box ion-icon {
  --ionicon-stroke-width: 45px;
}

/*----------------------------------- Responsive ----------------------------------- */

/* mobile screen */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .intro {
    flex-direction: column;
    gap: 7rem;
    height: 52rem;
    margin-top: 100px;
    margin-left: 3.5px;
  }
  .i-left {
    margin-top: -30px;
  }
  .i-right .blur {
    display: none;
  }

  .i-name > :nth-child(3) {
    text-align: justify;
    letter-spacing: -1px;
    margin: 0;
  }
  .si-button {
    width: 100%;
  }
  .sv-button {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
  }
  .sidebar {
    background: var(--eerie-black-2);
    border-radius: 20px;
    box-shadow: var(--shadow-1);
    z-index: 1;
    height: 3.7rem;
    width: 100%;
    padding: 0;
    margin-top: 0px;
  }
  .contacts-list {
    display: flex;
    gap: 0.5rem;
    margin-left: -12.5px;
    margin-top: 6%;
  }
  .skills-charts {
    display: none;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
 
}

/* iPads, Tablet [verified] */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .intro {
    height: 35rem;
  }
  .headings-container h1 {
    font-size: 36px;
  }

  .headings-container h1::before,
  .headings-container h1::after {
    font-size: 48px;
    margin-right: 8px;
    margin-left: 8px;
  }
  .skills-charts {
    display: none;
  }
  .i-right {
    display: none;
  }
  .sidebar {
    width: 56%;
    margin-top: -3rem;
  }
}
/* Large screens (desktops, 1200px and up) */
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .sidebar {
    width: 17.5rem;
  }
  .intro{
    height: 30rem;
  }
  .contacts-list {
gap: 18px;
  }

  
}
@media only screen and (min-width: 1201px) {
.intro{
  height: 35rem;
  width: 100%;
}
  .sidebar {
    width: 18rem;
  }
  .skills-charts {
    margin-top: 4rem;
    margin-left: 2rem;
  }
  .contacts-list {
    gap: 1.1rem;
  }
  .sv-button{
    width: 5.3rem;
  }
 
  #myCanvasContainer {
  margin-left: 2rem;
  margin-top: -1rem;
}
}