.intro {
  display: flex;
  height: 77vh;
  margin-top: 6rem;
}
.i-left {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
}
.i-name {
  display: flex;
  flex-direction: column;
}
.i-name > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 3rem;
}
.i-name > :nth-child(2) {
  color: var(--orange);
  font-weight: bold;
  font-size: 3rem;
}
.i-name > :nth-child(3) {
  font-weight: 100;
  font-size: 19px;
  color: var(--gray);
  margin-top: 10px;
}
.i-button {
  width: 6rem;
  height: 2rem;
}
.i-icons {
  display: flex;
  margin-top: 1rem;
  gap: 0rem;
}
.i-icons > * {
  transform: scale(0.5);
}
.i-icons:hover {
  cursor: pointer;
}
.i-right {
  flex: 1;
  position: relative;
}
.i-right > * {
  position: absolute;
  z-index: 1;
}
.TextHidden {
  left: 40%;
  top: 40%;
}

.headings-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* adjust as needed */
  border-bottom: 1px solid #ccc; /* optional */
}
.headings-container h1 {
  font-size: 48px;
  font-weight: bold;
  color: #333;
  margin: 0;
  opacity: 0.8;
  transition: opacity 0.5s ease-in-out;
}
.headings-container h1:hover {
  opacity: 1;
}
.headings-container h1::before {
  content: "<";
  font-size: 56px;
  margin-right: 16px;
}
.headings-container h1::after {
  content: ">";
  font-size: 56px;
  margin-left: 16px;
}
.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #edd0ff;
  filter: blur(72px);
  z-index: -9;
  top: -18%;
  left: 56%;
}
.skills-charts {
  margin-left: 6rem;
}
.button:hover {
  background-color: #333;
  color: #fff;
}
@media screen and (max-width: 480px) {
  .intro {
    flex-direction: column;
    gap: 7rem;
    height: 64rem;
  }
  .i-left {
    margin-top: -30px;
  }
  .i-right .blur {
    display: none;
  }
  .i-icons {
    display: flex;
    justify-content: space-evenly;
  }
  .i-name > :nth-child(3) {
    text-align: justify;
    letter-spacing: -1px;
    margin: 0;
  }
}
@media (max-width: 768px) {
  .headings-container h1 {
    font-size: 36px;
  }

  .headings-container h1::before,
  .headings-container h1::after {
    font-size: 48px;
    margin-right: 8px;
    margin-left: 8px;
  }
  .skills-charts {
    margin-left: -4rem;
    margin-top: -5rem;
  }
}
/* Large screens (desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .skills-charts {
    margin-top: 6rem;
    margin-left: 15rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .skills-charts {
    margin-top: 10rem;
    margin-left: -100px;
  
  }

}