

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1023px
 */

@media (min-width: 48em) and (max-width: 64em) and (orientation: landscape) {

  .contacts-list {
    gap: 1.5rem;
  }
  .sv-button {
    width: 4.9rem;
    margin-left: 15.4rem;
  }
 .si-button{
  width: 14.5rem;
 }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
*/

@media only screen and (min-width: 41.75em) and (max-width: 47.9375em) {
  .skills-charts {
    display: none;
  }
  .i-right {
    display: none;
  }
  .intro {
    height: 40rem;
  }

}

/*----------------------------------- Responsive ----------------------------------- */

/* mobile screen */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .intro {
    flex-direction: column;
    gap: 7rem;
    height: 52rem;
    margin-top: 100px;
    margin-left: 3.5px;
  }
  .i-left {
    margin-top: -30px;
  }
  .i-right .blur {
    display: none;
  }

  .i-name > :nth-child(3) {
    text-align: justify;
    letter-spacing: -1px;
    margin: 0;
  }
  .si-button {
    width: 100%;
  }
  .sv-button {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
  }
  .sidebar {
    background: var(--eerie-black-2);
    border-radius: 20px;
    box-shadow: var(--shadow-1);
    z-index: 1;
    height: 3.7rem;
    width: 100%;
    padding: 0;
    margin-top: 0px;
  }
  .contacts-list {
    display: flex;
    gap: 0.8rem;
    margin-left: -12.5px;
    margin-top: 6%;
  }
  .skills-charts {
    display: none;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .sidebar {
    background: var(--eerie-black-2);

    margin-top: -59px;
  }
  .contacts-list {
    margin-left: -15px;
    gap: 0.88rem;
  }
  .sv-button {
    width: 3.2rem;
  }
}


/* Large screens (desktops, 1200px and up) */
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .sidebar {
    width: 17.5rem;
  }
  .intro {
    height: 30rem;
  }
  .contacts-list {
    gap: 18px;
  }
}
