.custom-navbar {
  padding: 20px 12%;
  position: fixed;
  top: -18px;
  left: 0;
  width: 100%;
  transition: transform 0.3s ease;
  z-index: 9999;
  background: hsla(240, 1%, 17%, 0.75);
  backdrop-filter: blur(10px);
  border: 1px solid var(--jet);
  border-radius: 12px 12px 0 0;
}
.nav-link {
  color: var(--light-gray);
  font-size: var(--fs-2);
  padding: 7px 7px;
  transition: color var(--transition-1);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--light-gray-70);
}
.nav-link.active {
  color: var(--orange-yellow-crayola);
}

.navbar-toggler:focus {
  text-decoration: none;
  box-shadow: none;
}
/* .custom-navbar.dark-mode {
  background-color: #212121;
} */
/* .navbar-brand {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
} */
/* 
.navbar-brand:hover {
  color: #f2f2f2;
} */

/* Hide navbar on scroll down */
.navbar-hidden {
  transform: translateY(-100%);
}
/* Show navbar on scroll up */
.navbar-visible {
  transform: translateY(0);
}
.navbar-collapse {
  justify-content: flex-end;
}
.tog {
  border: none;
  background: none;
}
.navbar-toggler-icon{
  margin-left: -18px;
}

@media screen and (max-width: 991.98px) {
  .custom-navbar {
    position: fixed;
    bottom: auto;
    top: 0;
    left: auto;
    right: 0rem;
    width: max-content;
    border-radius: 0px 0px 0px 20px;
    padding: 0px 6px 0px 8px;
    box-shadow: none;
  }
  /* .navbar-brand {
    font-size: 20px;
  } */
  .nav-link {
    padding: 10px 0;
    text-align: center;

    width: 100%;
  }
  .nav-link {
    --fs-8: 15px;
  }
}
/* Laptop Styles */
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .custom-navbar {
    margin-top: 0;
  }
}
/* Large screens (desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .custom-navbar {
    position: fixed;
    bottom: auto;
    top: 0;
    left: auto;
    right: 0;
    width: max-content;
    border-radius: 0 20px;
    padding: 0 20px;
    box-shadow: none;
  }
  .nav-list {
    gap: 30px;
    padding: 0 20px;
  }

  .nav-link {
    font-weight: var(--fw-500);
  }
}
/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px */
@media (min-width: 64.0625em) and (max-width: 80em) {
  .custom-navbar {
    margin-left: 6rem;
  }
}
/* ##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px  */
@media (min-width: 64.0625em) and (max-width: 80em) {
  .custom-navbar {
    width: 110%;
    margin-left: -5rem;
  }
}
