.experience {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  height: 30vh;
  margin-top: 8rem;

}

.achievements {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.circle {
  width: 4rem;
  height: 4rem;
  background: white;
  border-radius: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: black;
}
.circle::before {
  border-radius: 100%;
  content: "";
  background: var(--LinearG);
  /* background: linear-gradient(to bottom, #2193b0, #6dd5ed, #bce6eb, #ffc3a0, #ffafbd); */




  opacity: 0.8;
  top: -8px;
  left: -8px;
  bottom: -8px;
  right: -8px;
  position: absolute;
  z-index: -1;
  box-shadow: var(--boxShadow);
}
.achievements span:nth-of-type(2) {
  color: var(--orange);
}
@media screen and (max-width: 480px) {
  .experience{
      transform: scale(0.6);
      
  }
}